.app-container {
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  /* does this do anything?? */
  .main-content {
    flex: 1;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    box-sizing: border-box;
  }
  
 