:root {
  /* colors */
  --color-text: #302f2fd9;
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --color-dark: #fff;
  --color-bg: #f9f3f3;
  --color-bg2:rgb(174, 2, 2)0;
  --color-lines: #8e8c8cd9;

  /* fonts */
  --font-roboto: Outfit,Arial,Helvetica,sans-serif;
}
